# Difference between Procedural and Object Oriented Programming Language

- Procedural means Each Logic can be given as seperate steps.

- Object Oriented means Bundling of all elements together.

# Class

Class is the blue print of Object.

# Object

Real World Entity(Anything that has existence)

# In objects  

1.Properties:

- By defining the properties through Constructor.

- Constructor is made up of through __init__ and pointer

- __init__ means automatically called when its creation of object.

- Pointer means used to refer the current object

2.Behaviours

- By using user defined Functions.

- Behaviour can be executed only when it is called.

- For a single object methods can be called multiple times.

# Methods

- These are the behaviours of an object created from a class.

- Methods are nothing but user defined functions inside the body.

# Create a Student Class

In [9]:
class student:
    def __init__(self,n,r,e,p):
        self.name = n
        self.roll = r
        self.email = e
        self.phone = p
s1 = student("Lalaasa",45,"lalasa@gmail.com",9381877679)

In [7]:
s1

In [11]:
s1.name

'Lalaasa'

In [4]:
class student:
    def __init__(self,roll,name):
        self.roll = roll
        self.name = name
    def show_details(self):
        print(f"The name of the student is {self.name} and the rollno is {self.roll}")
    def total_marks(self,**kwargs):
        total = 0
        for i in kwargs.values():
            total += i
        return total
    def show_marks(self):

In [5]:
s1 = student(1,"Lalasa")

In [6]:
s2 = student(2,"chitti")

In [7]:
s1.total_marks(science = 75,maths = 80,english = 66,socialscience = 75)

296

In [8]:
s2.show_details()

The name of the student is chitti and the rollno is 2

# Type of variables

# 1.Instance Variables

- Instance variables belong to individual objects.
- Each Object has its own copy.
- They are created by using self.variable_name.

# ways to declare instance variables.

1. Inside the Constructor (__init__) using self.

2. Inside the instance method using self.

In [1]:
# inside the constructor
class Test:
    def __init__(self):
        self.a = 10
        self.b = 20

# object creation

t = Test()

In [3]:
t.a

10

In [4]:
t.b

20

In [5]:
print(t.__dict__)   # it shows the all instance variables of an object

{'a': 10, 'b': 20}

In [7]:
# inside the instance method
class Test:
    def __init__(self):
        self.a = 10
    def m1(self):
        self.b = 20
        self.c = 30
        return self.b,self.c

t1 = Test()

In [8]:
t1.m1()

(20, 30)

In [9]:
t1.__dict__

{'a': 10, 'b': 20, 'c': 30}

In [10]:
# outside the class using object reference
class Test:
    def __init__(self):
        self.a = 10
t = Test()
t.b = 20    # added outside the class

In [11]:
t.a

10

In [12]:
t.b

20

In [13]:
t.__dict__

{'a': 10, 'b': 20}

# Note

- t.b = 20 directly adds a new instance variable to the object t.

- No self is needed outside the class.

# Accessing and Modifying 

Instance variables are accessed and modified using

- self.variable_name
- object reference.variable_name(outside the class)

In [16]:
# inside the constructor
class Employee:
    def __init__(self,eid,ename):
        self.employee_id = eid
        self.employee_name = ename
        print(self.employee_id,self.employee_name)
# object creation
a = Employee(45,"LalasaReddy")
b = Employee(55,"Chitti")

45 LalasaReddy
55 Chitti

# Note

- Inside the constructor we did not use "return" instead use "print"

In [19]:
# inside the instance method

class Employee:
    def __init__(self,eid,ename):
        self.employee_id = eid
        self.employee_name = ename
    def m1(self):
        self.salary = float(input("enter salary"))
        return f"The employee id is {self.employee_id} and the name is {self.employee_name} and salary is {self.salary}"
t1 = Employee(45,"Lalasa")

In [20]:
t1

In [22]:
t1.m1()

enter salary 450000

'The employee id is 45 and the name is Lalasa and salary is 450000.0'

In [6]:
# modifying instance variables inside instance method

class Employee:
    def __init__(self,eid,ename,dept):
        self.employee_id = eid
        self.employee_name = ename
        self.department = dept
    def m1(self):
        self.salary = float(input("enter salary"))
        self.dept = input("Enter the department")   # modifying 
        return f"The employee id is {self.employee_id} and the name is {self.employee_name} and department  is {self.dept}"
t1 = Employee(45,"Lalasa","HR")

In [2]:
t1

In [7]:
t1.m1()

enter salary 45000
Enter the department it

'The employee id is 45 and the name is Lalasa and department  is it'

# 2.Class Variables

- Class variable belongs to only class not the objects.
- one copy only,shared the all objects.
- created once at class level.
- defined outside the constructor and methods but inside the class.

In [1]:
class Employee:
    Bankname = "SBI"     # class variable
    def __init__(self,id,name,dept):
        self.eid = id
        self.ename = name
        self.dept = dept
    def s1(self):
        self.salary = float(input())
        return f"The employee id is {self.eid}, name is {self.ename} and salary is {self.salary}"
T = Employee(45,"LalasaReddy","HR")
T1 = Employee(55,"Chitti","IT")

In [2]:
T.s1()

 45000

'The employee id is 45, name is LalasaReddy and salary is 45000.0'

In [3]:
T.Bankname

'SBI'

In [4]:
T1.Bankname

'SBI'

In [5]:
# Inside the classmethod using cls or classname

class Test:
    @classmethod
    def m2(cls):
        cls.a = 100  # using cls(the class itself)
        Test.b = 200 # using the class name directly)
t1 = Test()

In [6]:
t1.m2()

In [7]:
Test.a

100

In [8]:
Test.b

200

# Note


- 1. @classmethod - A classmethod receives the class itself(cls) as the first arguement,instead of an instance(self).This means you can use cls to access or modify class level attributes.
  2. cls.a = 100,Here cls refers to the class Test.So this line creates a class attribute a with value 100.Equivalent to Test.a = 100.
  3. Test.b = 200 this directly sets another class attribute b with the value 200.This is same as cls.b = 200.

# Methods

# 1. Instance Methods

- It is a user defined function which is defined inside a class that works with instance variables.
- The first parameter of instance method is self(pointer).
- It is called object reference.methodname().

In [3]:
class student:
    def __init__(self,rollno,name,marks):
        self.rollno = rollno
        self.name = name
        self.marks = marks
    def display(self):
        return f" Rollno:{self.rollno}, name : {self.name} , marks : {self.marks}"
    def grade(self):
        if self.marks >= 60:
            print("Grade A")
        elif 45 < self.marks < 60:
            print("Grade B")
        else:
            print("Grade C")  
t = student(45,"Lalasa",55)

In [4]:
t.display()

' Rollno:45, name : Lalasa , marks : 55'

In [5]:
t.grade()

Grade B

In [6]:
# calling instance method inside the constructor
class student:
    def __init__(self,rollno,name,marks):
        self.rollno = rollno
        self.name = name
        self.marks = marks
        self.grade()
    def display(self):
        return f" Rollno:{self.rollno}, name : {self.name} , marks : {self.marks}"
    def grade(self):
        if self.marks >= 60:
            print("Grade A")
        elif 45 < self.marks < 60:
            print("Grade B")
        else:
            print("Grade C")  
t = student(45,"Lalasa",55)

Grade B

# Class Methods

- Works with class variables.
- First Parameter is cls.
- Created by using @classmethod decorater.

In [10]:
# create a class where we can count the number of objects created.

class Test:
    object_count = 0
    def __init__(self):
        Test.object_count += 1
    @classmethod
    def show_count(cls):
        return f"The object count is {cls.object_count}"

In [11]:
t1 = Test()
t1.show_count()

'The object count is 1'

In [12]:
# Currency Exchange

class CurrencyExchange:
    currency_rate = 91.00
    @classmethod
    def update_currency(cls):
        rate = float(input("enter the new rate"))
        cls.currency_rate = rate
    def convert(self,rupee_amount):
        return rupee_amount * CurrencyExchange.currency_rate
c1 = CurrencyExchange()

In [13]:
c1.convert(1000)

91000.0

In [14]:
c1.update_currency()

enter the new rate 45

In [15]:
CurrencyExchange.currency_rate

45.0

# Static Methods

- Belongs to the class but does not required self/cls to get accessed.
- Behaves like regular function but wrapped inside a class.
- Defined as @staticmethod

In [26]:
class MyStatic:
    @staticmethod
    def add(*args):
        return sum(args)
s = MyStatic()

TypeError: staticmethod() takes no arguments